
*{ margin:0; padding:0;}

html {
    height: 100%;
}

body {
    margin: 10px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.header > h1 {
    height: 2rem;
    text-align: center;
    color: #364e96;
    border: solid 2px #364e96;
    padding: 0.25em;
    border-radius: 5px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label, 
label:hover {
    background-color: chocolate;
    color: azure;
}

#list01 .child-close-title {
    text-decoration: underline;
}

#list01 li {
    list-style: none;
    padding-left: 1rem;
}