
*{ margin:0; padding:0;}

html, body {
    height: 100%;
}

body {
    margin: 1em;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.header > h1 {
    text-align: center;
    color: #364e96;
    border: solid 2px #364e96;
    padding: 0.25em;
    border-radius: 5px;
}

.TG002-list-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    /*height: 8rem;*/
    height: calc(100vh - 28rem);
}

.TG002-list-title {
    display: flex;
    flex-direction: column;
}

.TG002-list-title > div {
    display: flex;
    flex-direction: row;
}

.TG002-list-title p {
    box-sizing: border-box;
    border: solid 1px gray;
    text-align: center;
    font-weight: bolder;
    font-size: small;
    background-color: blanchedalmond;
}

.TG002-list-title .item-title {
    flex-basis: 12rem;
}

.TG002-list-title .item-remarks {
    flex: 1;
}

.TG002-list-title .item-select {
    flex-basis: 2rem;
}

.TG002-list-title .item-priority {
    flex-basis: 5rem;
}

.TG002-list-title .item-status {
    flex-basis: 5rem;
}

.TG002-list-title .item-todo-start {
    flex: 1;
}

.TG002-list-title .item-todo-end {
    flex: 1;
}

.TG002-list-title .item-todo-update {
    flex: 1;
}


.TG002-list-body {
    flex: 1;
    background-color: lightgray;
    overflow-y: overlay;
    height: 100%;
}


.TG002-list-body ul, li {
    list-style: none;
    font-size: small;
}

.TG002-item-body {
    position: relative;
    height: 3rem;
    background-color: orange;
}

.TG002-item-vert-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 2rem;
}

.TG002-list-item-container {
    width: 100%;
    height: 2rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms;
    background-color: white;
}

.TG002-item-body:nth-child(2n) .TG002-list-item-container {
    background-color: seashell;
}

.TG002-list-item-container.active {
    left: -10em;
}
/*
.TG002-list-item-container > p {
    flex-grow: 1;
    height: 1em;
}
*/
.TG002-list-item-container > div {
    display: flex;
    flex-direction: row;
    height: 1rem;
}

.TG002-list-item-container p {
    padding: 0 0.2em;
    white-space: nowrap;
    overflow: hidden;
}

.TG002-list-item-container .item-title {
    flex-basis: 12rem;
    font-weight: bolder;
}

.TG002-list-item-container .item-remarks {
    flex: 1;
}

.TG002-list-item-container .item-select {
}

.TG002-list-item-container .item-priority {
    flex-basis: 5rem;
}

.TG002-list-item-container .item-status {
    flex-basis: 5rem;
}

.TG002-list-item-container .item-todo-start {
    flex: 1;
}

.TG002-list-item-container .item-todo-end {
    flex: 1;
}

.TG002-list-item-container .item-todo-update {
    flex: 1;
}

.TG002-back-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.TG002-back-menu-container > p {
    width: 5em;
    height: 2rem;
    padding: 1rem 0;
    text-align: center;
}
