.HSL01-slide-page01 {
    background-color: var(--HSL01-slide-page01-bg-color);
    width: var(--HSL01-slide-page01-width);
    height:100%;
}

.HSL01-slide-page01 ul {
    margin: 0 var(--HSL01-MEMBER-LISTMERGIN);
}

.HSL01-slide-page01 li {
    display: flex;
    flex-direction: row;
}

.HSL01-slide-page01 .title {
    font-weight: bolder;
}

.HSL01-slide-page01 li > p:first-child {
    width: var(--HSL01-CORP-LABEL-WIDTH);
}

.HSL01-slide-page01 li > p:nth-child(2) {
    width: var(--HSL01-WOKER-LABEL-WIDTH);
}

.HSL01-slide-page01 li > p:last-child {
    width: var(--HSL01-NICKNAME-LABEL-WIDTH);
}

.HSL01-slide-page01-add-member {
    width: var(--HSL01-slide-page01-width);
}

.HSL01-slide-page01-add-member > img {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
}