
*{ margin:0; padding:0;}

html {
    height: 100%;
}

body {
    margin: 10px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.header > h1 {
    box-sizing: border-box;
    height: 2.5rem;
    text-align: center;
    color: #364e96;
    border: solid 2px #364e96;
    padding-top: 0.2em;
    border-radius: 5px;
}

form {
    margin: 0 auto;
}

:root {
    --HSL01-MEMBER-LISTMERGIN: 0.5rem;
    --HSL01-CORP-LABEL-WIDTH: 10rem;
    --HSL01-WOKER-LABEL-WIDTH: 8rem;
    --HSL01-NICKNAME-LABEL-WIDTH: 5rem;

    --HSL01-PHASE-LISTMERGIN: 0.5rem;

    --HSL01-slider-tag-size: 32px;
    --HSL01-slide-page01-width: calc(calc(var(--HSL01-MEMBER-LISTMERGIN) * 2)
         + var(--HSL01-CORP-LABEL-WIDTH)
         + var(--HSL01-WOKER-LABEL-WIDTH)
         + var(--HSL01-NICKNAME-LABEL-WIDTH));
    --HSL01-slide-page02-width: var(--HSL01-slide-page01-width);
    --HSL01-slide-page03-width: var(--HSL01-slide-page01-width);
    --HSL01-slide-body-width: max(var(--HSL01-slide-page01-width), var(--HSL01-slide-page02-width), var(--HSL01-slide-page03-width));
    --HSL01-slide-page01-bg-color: aqua;
    --HSL01-slide-page02-bg-color: bisque;
    --HSL01-slide-page03-bg-color: LightYellow;
    --HSL01-slide--animation-time: 1s;

    --HSL01-TABLE-COLUMN-WIDTH-NO: 3rem;
    --HSL01-TABLE-COLUMN-WIDTH-TITLE: 10rem;
    --HSL01-TABLE-COLUMN-WIDTH-HANDLER: 5rem;
    --HSL01-TABLE-COLUMN-WIDTH-COST: 2rem;
    --HSL01-TABLE-COLUMN-WIDTH: calc(
          var(--HSL01-TABLE-COLUMN-WIDTH-NO)
        + var(--HSL01-TABLE-COLUMN-WIDTH-TITLE)
        + var(--HSL01-TABLE-COLUMN-WIDTH-HANDLER)
        + var(--HSL01-TABLE-COLUMN-WIDTH-COST));
    --HSL01-TABLE-COLUMN-WIDTH-DATE: 1.5rem;
}

.HSL01-container {
    width: 100%;
    height: calc(100% - 2.5rem);    /* ヘッダの高さを引く */
    position: relative;
}

.HSL01-body {
    position: absolute;
    top: 0;
    left: var(--HSL01-slider-tag-size);
    background-color: navy;
    height: 100%;
    width: calc(100% - var(--HSL01-slider-tag-size));

    display: flex;
    flex-direction: row;
}

.HSL01-calender-sun {
    color: red;
    font-weight: normal;
}

.HSL01-calender-sat {
    color: blue;
    font-weight: normal;
}